---
layout: page
title: Posts
---

<div class="home">

  <h2 class="page-heading">Posts</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">Posted {{ post.date | date: "%b %-d, %Y" }} {% if post.duedate %} • <b>(Due <span itemprop="date">{{ post.duedate | date: "%b %-d, %Y" }}</b></span>){% endif %}</span></span>
        <h3>
          <a class="post-link" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | absolute_url }}">via RSS</a></p>

</div>
